.xyz {
    background-size: auto;
    text-align: center;
    padding-top: 100px;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    border-color: #FF8176;
    color: #FFF7F2;
    font-size: 12px;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #FF8176;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.btn-circle.btn-xl:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.btn-circle.btn-xl:active {
    background-color: #FCA0A2;
    border: none;    
    outline: none;
    box-shadow: none;
}

.btn-circle.btn-xl:focus {
    /* background-color: #FCA0A2; */
    border: none;    
    outline: none;
    box-shadow: none;
}
