<i *ngIf="!isLoggedIn || !this.currentUser?.imageUrl" class="material-icons profile" [routerLink]="['/', 'profile']" >person</i>
<img *ngIf="isLoggedIn && this.currentUser?.imageUrl" class="profile-pic profile" [routerLink]="['/', 'profile']" [src]="this.currentUser.imageUrl">
<span *ngIf="!isLoggedIn" [routerLink]="['/', 'login']" class="login-text"><u>Login / Signup</u></span>
<span *ngIf="isLoggedIn && this.currentUser?.imageUrl" class="logout-text" [routerLink]="['/', 'dashboard']" (click)="logout()"><u>Logout</u></span>
<span *ngIf="isLoggedIn && !this.currentUser?.imageUrl" class="login-text" [routerLink]="['/', 'dashboard']" (click)="logout()"><u>Logout</u></span>
<br>
<div class="Futura-Font text-float">My Favours 💗</div>

<i class="material-icons chat-btn" title="chat" [routerLink]="['/', 'message']" >chat</i>

<div class="add-favour">
    <button class="add-favour-btn" (click)="addFavour()"><span class="plus-btn">+</span>&nbsp; Create Favour</button>
</div>

<div class="big-area">
    <div class="row toggles">
        <div class="col-1 toggle-btns" [ngClass]="isPosted? 'type-selected' : 'urgency'" (click)="loadPostedFavours()">
            Posted
        </div>
        <div class="col-1 toggle-btns" [ngClass]="isPast? 'type-selected' : 'urgency'" (click)="loadPastFavours()">
            Past
        </div>
        <div class="col-1 toggle-btns" [ngClass]="isHelping? 'type-selected' : 'urgency'" (click)="loadInProgressFavours()">
            Helping
        </div>
        <div class="col-1 toggle-btns" [ngClass]="isFulfilled? 'type-selected' : 'urgency'" (click)="loadFulfilledFavours()">
            Fulfilled
        </div>
    </div>

    <div class="row half-area">
        <div class="left-arrow" id="casualBack" type="button">
            <i *ngIf="hasPreviousPage" class="material-icons" (click)="casualPreviousPage()">arrow_back_ios</i>
            <i *ngIf="!hasPreviousPage" class="material-icons hide-arrow">arrow_back_ios</i>
        </div>

        <div class="row middle-cards-area">
            <!-- first card blank  -->
            <div *ngIf="displayData[0].title == ''" class="col-3 card-area">
                <div class="row full-height">
                    <div class="col-1 rotate-text"></div>
                    <div class="col-9 empty-outer-card">
                        <div class="empty-inner-card">
                            <div class="row full-height">
                                <div class="empty-card-title">
                                    <i>No more favours to show D:</i>
                                </div>
                            </div>
                        </div>
                        <div class="card-posted-by">
                        </div>
                    </div>
                </div>
            </div>
            <!-- first card with info  -->            
            <div *ngIf="!(displayData[0].title == '')" id="first-card" class="col-3 card-area">
                <div class="row full-height">
                    <div class="col-1 rotate-text">{{ displayData[0].category }}</div>
                    <div class="col-9 outer-card transform" (click)="openModal(0)">
                        <div [ngClass]="displayData[0].category == 'Casual' ? 'inner-card' : 'inner-card-professional'">
                            <div class="row full-height">
                                <div class="col-10" >
                                    <div class="card-title overflow-title">
                                        <span>{{ displayData[0].title }}</span>
                                    </div>
                                    <div *ngIf="isPosted" class="time-remaining-badge">
                                        <span *ngIf="displayData[0].index != -1">
                                            In Progress
                                        </span>
                                        <span *ngIf="displayData[0].requestors.length > 1 && displayData[0].index == -1">
                                            {{ displayData[0].requestors.length }} Requests
                                        </span>
                                        <span *ngIf="displayData[0].requestors.length < 2 && displayData[0].index == -1">
                                            {{ displayData[0].requestors.length }} Request
                                        </span>
                                    </div>
                                    <div *ngIf="isPast" class="time-remaining-badge">
                                        <span *ngIf="displayData[0].index">
                                            Completed
                                        </span>
                                        <span *ngIf="!displayData[0].index">
                                            Expired
                                        </span>
                                    </div>
                                    <div *ngIf="isHelping" class="time-remaining-badge">
                                        {{ displayData[0].deadlineLeft }} Days left
                                    </div>

                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">location_on</i>
                                        <div>
                                            {{ displayData[0].location || '-' }}
                                        </div>
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">access_time</i>
                                        <div>
                                            {{ displayData[0].deadline }}
                                        </div>
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">wb_twighlight</i>
                                        <div>
                                            {{ displayData[0].isUrgent }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" >
                                    <div class="colon">
                                        :
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-posted-by">
                            <div *ngIf="isPosted || isPast">
                                {{ displayData[0].postedAgo }}
                            </div>
                            <div *ngIf="isHelping || isFulfilled">
                                {{ displayData[0].poster }}
                                <br>
                                {{ displayData[0].postedAgo }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- second card blank  -->
            <div *ngIf="displayData[1].title == ''" class="col-3 card-area">
                <div class="row full-height">
                    <div class="col-1 rotate-text"></div>
                    <div class="col-9 empty-outer-card">
                        <div class="empty-inner-card">
                            <div class="row full-height">
                                <div class="empty-card-title">
                                    <i>No more favours to show D:</i>
                                </div>
                            </div>
                        </div>
                        <div class="card-posted-by">
                        </div>
                    </div>
                </div>
            </div>
            <!-- second card with info  -->
            <div *ngIf="!(displayData[1].title == '')" id="second-card" class="col-3 card-area">
                <div class="row full-height">
                    <div class="col-1 rotate-text">{{ displayData[1].category }}</div>
                    <div class="col-9 outer-card" (click)="openModal(1)">
                        <div [ngClass]="displayData[1].category == 'Casual' ? 'inner-card' : 'inner-card-professional'">
                            <div class="row full-height">
                                <div class="col-10" >
                                    <div class="card-title overflow-title">
                                        <span>{{ displayData[1].title }}</span>
                                    </div>
                                    <div *ngIf="isPosted" class="time-remaining-badge">
                                        <span *ngIf="displayData[1].index != -1">
                                            In Progress
                                        </span>
                                        <span *ngIf="displayData[1].requestors.length > 1 && displayData[1].index == -1">
                                            {{ displayData[1].requestors.length }} Requests
                                        </span>
                                        <span *ngIf="displayData[1].requestors.length < 2 && displayData[1].index == -1">
                                            {{ displayData[1].requestors.length }} Request
                                        </span>
                                    </div>
                                    <div *ngIf="isPast" class="time-remaining-badge">
                                        <span *ngIf="displayData[1].index">
                                            Completed
                                        </span>
                                        <span *ngIf="!displayData[1].index">
                                            Expired
                                        </span>
                                    </div>
                                    <div *ngIf="isHelping" class="time-remaining-badge">
                                        {{ displayData[1].deadlineLeft }} Days left
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">location_on</i>
                                        <div>
                                            {{ displayData[1].location }}
                                        </div>
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">access_time</i>
                                        <div>
                                            {{ displayData[1].deadline }}
                                        </div>
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">wb_twighlight</i>
                                        <div>
                                            {{ displayData[1].isUrgent }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" >
                                    <div class="colon">
                                        :
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-posted-by">
                            <div *ngIf="isPosted || isPast">
                                {{ displayData[0].postedAgo }}
                            </div>
                            <div *ngIf="isHelping || isFulfilled">
                                {{ displayData[0].poster }}
                                <br>
                                {{ displayData[0].postedAgo }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- third card blank  -->
            <div *ngIf="displayData[2].title == ''" class="col-3 card-area">
                <div class="row full-height">
                    <div class="col-1 rotate-text"></div>
                    <div class="col-9 empty-outer-card">
                        <div class="empty-inner-card">
                            <div class="row full-height">
                                <div class="empty-card-title">
                                    <i>No more favours to show D:</i>
                                </div>
                            </div>
                        </div>
                        <div class="card-posted-by">
                        </div>
                    </div>
                </div>
            </div>
            <!-- third card with info  -->
            <div *ngIf="!(displayData[2].title == '')" id="third-card" class="col-3 card-area">
                <div class="row full-height">
                    <div class="col-1 rotate-text">{{ displayData[2].category }}</div>
                    <div class="col-9 outer-card" (click)="openModal(2)">
                        <div [ngClass]="displayData[2].category == 'Casual' ? 'inner-card' : 'inner-card-professional'">
                            <div class="row full-height">
                                <div class="col-10" >
                                    <div class="card-title overflow-title">
                                        <span>{{ displayData[2].title }}</span>
                                    </div>
                                    <div *ngIf="isPosted" class="time-remaining-badge">
                                        <span *ngIf="displayData[2].index != -1">
                                            In Progress
                                        </span>
                                        <span *ngIf="displayData[2].requestors.length > 1 && displayData[2].index == -1">
                                            {{ displayData[2].requestors.length }} Requests
                                        </span>
                                        <span *ngIf="displayData[2].requestors.length < 2 && displayData[2].index == -1">
                                            {{ displayData[2].requestors.length }} Request
                                        </span>
                                    </div>
                                    <div *ngIf="isPast" class="time-remaining-badge">
                                        <span *ngIf="displayData[2].index">
                                            Completed
                                        </span>
                                        <span *ngIf="!displayData[2].index">
                                            Expired
                                        </span>
                                    </div>
                                    <div *ngIf="isHelping" class="time-remaining-badge">
                                        {{ displayData[2].deadlineLeft }} Days left
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">location_on</i>
                                        <div>
                                            {{ displayData[2].location }}
                                        </div>
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">access_time</i>
                                        <div>
                                            {{ displayData[2].deadline }}
                                        </div>
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">wb_twighlight</i>
                                        <div>
                                            {{ displayData[2].isUrgent }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" >
                                    <div class="colon">
                                        :
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-posted-by">
                            <div *ngIf="isPosted || isPast">
                                {{ displayData[0].postedAgo }}
                            </div>
                            <div *ngIf="isHelping || isFulfilled">
                                {{ displayData[0].poster }}
                                <br>
                                {{ displayData[0].postedAgo }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- forth card blank  -->
            <div *ngIf="displayData[3].title == ''" class="col-3 card-area">
                <div class="row full-height">
                    <div class="col-1 rotate-text"></div>
                    <div class="col-9 empty-outer-card">
                        <div class="empty-inner-card">
                            <div class="row full-height">
                                <div class="empty-card-title">
                                    <i>No more favours to show D:</i>
                                </div>
                            </div>
                        </div>
                        <div class="card-posted-by">
                        </div>
                    </div>
                </div>
            </div>
            <!-- forth card with info  -->
            <div *ngIf="!(displayData[3].title == '')" id="forth-card" class="col-3 card-area">
                <div class="row full-height">
                    <div class="col-1 rotate-text">{{ displayData[3].category }}</div>
                    <div class="col-9 outer-card" (click)="openModal(3)">
                        <div [ngClass]="displayData[3].category == 'Casual' ? 'inner-card' : 'inner-card-professional'">
                            <div class="row full-height">
                                <div class="col-10" >
                                    <div class="card-title overflow-title">
                                        <span>{{ displayData[3].title }}</span>
                                    </div>
                                    <div *ngIf="isPosted" class="time-remaining-badge">
                                        <span *ngIf="displayData[3].index != -1">
                                            In Progress
                                        </span>
                                        <span *ngIf="displayData[3].requestors.length > 1 && displayData[3].index == -1">
                                            {{ displayData[3].requestors.length }} Requests
                                        </span>
                                        <span *ngIf="displayData[3].requestors.length < 2 && displayData[3].index == -1">
                                            {{ displayData[3].requestors.length }} Request
                                        </span>
                                    </div>
                                    <div *ngIf="isPast" class="time-remaining-badge">
                                        <span *ngIf="displayData[3].index">
                                            Completed
                                        </span>
                                        <span *ngIf="!displayData[3].index">
                                            Expired
                                        </span>
                                    </div>
                                    <div *ngIf="isHelping" class="time-remaining-badge">
                                        {{ displayData[3].deadlineLeft }} Days left
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">location_on</i>
                                        <div>
                                            {{ displayData[3].location }}
                                        </div>
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">access_time</i>
                                        <div>
                                            {{ displayData[3].deadline }}
                                        </div>
                                    </div>
                                    <div class="card-details-text">
                                        <i class="material-icons" style="margin-right: 10px;">wb_twighlight</i>
                                        <div>
                                            {{ displayData[3].isUrgent }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" >
                                    <div class="colon">
                                        :
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-posted-by">
                            <div *ngIf="isPosted || isPast">
                                {{ displayData[0].postedAgo }}
                            </div>
                            <div *ngIf="isHelping || isFulfilled">
                                {{ displayData[0].poster }}
                                <br>
                                {{ displayData[0].postedAgo }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-arrow" style="width: 20px;" id="casualNext" type="button">
            <i *ngIf="hasNextPage"class="col material-icons" (click)="casualNextPage()">arrow_forward_ios</i>
            <i *ngIf="!hasNextPage" class="col material-icons hide-arrow">arrow_forward_ios</i>
        </div>
    </div>
</div>

<div class="modal fade" id="cardDetailsModal" tabindex="-1" role="dialog" aria-labelledby="cardDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 45%;">
      <div class="modal-content" [ngClass]="isModalCasual == true ? 'modal-card' : 'modal-card-professional'">
        <div class="modal-header">
          <div class="modal-title row" id="cardModalCenteredLabel">
              <span class="modal-title-text">{{ displayModal.title }}</span>
              <div class="modal-date-font">
                <br>
                ───
                {{ displayModal.deadline }}
              </div>
            <div class="time-remaining-badge" style="margin: 2% 0 0 2%;">
                {{ displayModal.deadlineLeft }}
            </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" [ngClass]="isRequesting == 'request' ? 'modal-body-height-req' : 'modal-body-height'">
            <div class="modal-body-text">{{ displayModal.body }}</div>
            <div class="card-details-text" style="margin-top: 50px;">
                <i class="material-icons" style="margin-right: 10px;">location_on</i>
                <div>
                    {{ displayModal.location }}
                </div>
            </div>
            <div class="card-details-text">
                <i class="material-icons" style="margin-right: 10px;">wb_twighlight</i>
                <div>
                    {{ displayModal.isUrgent }}
                </div>
            </div>
            <div *ngIf="isRequesting == 'request'">
                <input (keyup)="onKeyMessage($event)" class="message-box" type="text" placeholder="Type a message for the requestor ...">
            </div>
        </div>
        <div class="modal-footer row justify-content-between">
            <div *ngIf="displayModal?.poster == currentUser?.username" class="btn btn-primary requested-button">
                Posted
            </div>
            <div *ngIf="isRequesting == 'view' && displayModal?.poster != currentUser?.username" [ngClass]="isLoggedIn? 'request-button' : 'request-button-not-logged'" class="btn btn-primary" (click)="onRequest()">
                Request
            </div>
            <span *ngIf="!isLoggedIn" class="please-login" >
                <i>Please login to request for a favour</i>
            </span>
            <div *ngIf="isRequesting == 'request'" style="margin-bottom: 40px;">
                <div class="btn btn-success send-button" (click)="onSend()">
                    Send
                </div>
                <div class="btn btn-danger send-button" (click)="onCancel()">
                    Cancel
                </div>
            </div>
            <div *ngIf="isRequesting == 'requested'" class="btn btn-metal requested-button">
                Requested
            </div>
            <div *ngIf="isRequesting == 'rejected'" class="btn btn-danger rejected-button">
                Rejected
            </div>
            <div *ngIf="isRequesting == 'accepted'" class="btn btn-success accepted-button">
                Accepted
            </div>
            <i class="material-icons modal-down-arrow">keyboard_arrow_down</i>
            <div class="row" (click)="onRouteMsg()">
                <div class="modal-posted-by">
                    {{ displayModal.poster }}
                    <br>
                    {{ displayModal.postedAgo }}
                </div>
                <img class="modal-chat-dp" [src]="displayModal.url">
            </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="postedModal" tabindex="-1" role="dialog" aria-labelledby="cardDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 45%;">
      <div class="modal-content" [ngClass]="isModalCasual == true ? 'modal-card' : 'modal-card-professional'">
        <div class="modal-header">
          <div class="modal-title row" id="cardModalCenteredLabel">
              <span class="modal-title-text">{{ displayModal.title }}</span>
              <div class="modal-date-font">
                <br>
                ───
                {{ displayModal.deadline }}
              </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-posted-height">
            <div class="modal-body-text">{{ displayModal.body }}</div>
            <div class="card-details-text" style="margin-top: 50px;">
                <i class="material-icons" style="margin-right: 10px;">location_on</i>
                <div>
                    {{ displayModal.location }}
                </div>
            </div>
            <div class="card-details-text">
                <i class="material-icons" style="margin-right: 10px;">wb_twighlight</i>
                <div>
                    {{ displayModal.isUrgent }}
                </div>
            </div>
            <div *ngIf="displayModal.requestors.length < 1" class="card-details-text">
                <div class="mt-20">
                    (You have no request for this favour)
                </div>
            </div>
            <div *ngIf="displayModal.requestors.length > 0 && displayModal.index == -1" class="requestor-area mt-20">
                <div class="row">
                    Requestors
                </div>
                <div class="row requstor-card-area" *ngFor="let r of displayModal.requestors; let i = index">
                    <span class="requestor-num">#{{ i + 1 }}</span>
                    <span class="requestor-name" (click)="routeRequestor(r.username)">{{ r.username }}</span>
                    <span class="requestor-msg">&quot;{{ r?.message || '-' }}	&quot;</span>
                    <div *ngIf="r.isAccepted == -1" class="btn btn-success accept-reqestor-btn" (click)="onAcceptRequestor(i)">
                        Accept
                    </div>
                    <div *ngIf="r.isAccepted == -1" class="btn btn-danger reject-reqestor-btn" (click)="onRejectRequestor(i)">
                        Reject
                    </div>
                    <div *ngIf="r.isAccepted == 0" class="btn btn-danger reject-reqestor-btn" style="cursor: default;">
                        Rejected
                    </div>
                </div>
            </div>
            <div *ngIf="displayModal.index != -1" class="requestor-area mt-20">
                <div class="row">
                    Accepted Requestor
                </div>
                <div class="row requstor-card-area" style="border: 0px !important;">
                    <span class="requestor-num">•</span>
                    <span class="requestor-name" (click)="routeRequestor(displayModal.requestors[displayModal.index].username)">
                        {{ displayModal.requestors[displayModal.index]?.username }}
                    </span>
                    <span class="btn btn-success mark-completed-btn" (click)="onMarkAsCompleted(displayModal.requestors[displayModal.index]?.username)">
                        <i class="material-icons tick-completed">check</i>
                        <span class="mark-as-completed-text">Mark as Completed</span>
                    </span>
                </div>
            </div>
            <div>
                <i class="material-icons delete-favour-btn" (click)="onDeleteFavour()" title="Delete favour">delete</i>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="pastModal" tabindex="-1" role="dialog" aria-labelledby="cardDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 45%;">
      <div class="modal-content" [ngClass]="isModalCasual == true ? 'modal-card' : 'modal-card-professional'">
        <div class="modal-header">
          <div class="modal-title row" id="cardModalCenteredLabel">
              <span class="modal-title-text">{{ displayModal.title }}</span>
              <div class="modal-date-font">
                <br>
                ───
                {{ displayModal.deadline }}
              </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" [ngClass]="isRequesting == 'request' ? 'modal-body-height-req' : 'modal-body-height'">
            <div class="modal-body-text">{{ displayModal.body }}</div>
            <div class="card-details-text" style="margin-top: 50px;">
                <i class="material-icons" style="margin-right: 10px;">location_on</i>
                <div>
                    {{ displayModal.location }}
                </div>
            </div>
            <div class="card-details-text">
                <i class="material-icons" style="margin-right: 10px;">wb_twighlight</i>
                <div>
                    {{ displayModal.isUrgent }}
                </div>
            </div>
            <div *ngIf="isRequesting == 'request'">
                <input (keyup)="onKeyMessage($event)" class="message-box" type="text" placeholder="Type a message for the requestor ...">
            </div>
        </div>
        <div *ngIf="displayModal.index" class="modal-footer row">
            <div class="past-completed-by-text">
                Completed By:
            </div>
            <div class="past-completor-text" (click)="routeRequestor(displayModal.index)">
                {{ displayModal.index }}
            </div>
            <img class="modal-chat-dp" (click)="routeRequestor(displayModal.index)" [src]="displayModal.url">
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="helpingModal" tabindex="-1" role="dialog" aria-labelledby="cardDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 45%;">
      <div class="modal-content" [ngClass]="isModalCasual == true ? 'modal-card' : 'modal-card-professional'">
        <div class="modal-header">
          <div class="modal-title row" id="cardModalCenteredLabel">
              <span class="modal-title-text">{{ displayModal.title }}</span>
              <div class="modal-date-font">
                <br>
                ───
                {{ displayModal.deadline }}
              </div>
            <div class="time-remaining-badge" style="margin: 2% 0 0 2%;">
                {{ displayModal.deadlineLeft }} Days left
            </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" [ngClass]="isRequesting == 'request' ? 'modal-body-height-req' : 'modal-body-height'">
            <div class="modal-body-text">{{ displayModal.body }}</div>
            <div class="card-details-text" style="margin-top: 50px;">
                <i class="material-icons" style="margin-right: 10px;">location_on</i>
                <div>
                    {{ displayModal.location }}
                </div>
            </div>
            <div class="card-details-text">
                <i class="material-icons" style="margin-right: 10px;">wb_twighlight</i>
                <div>
                    {{ displayModal.isUrgent }}
                </div>
            </div>
        </div>
        <div class="modal-footer row align-self-end">
            <div class="row" (click)="onRouteMsg()">
                <div class="modal-posted-by">
                    {{ displayModal.poster }}
                    <br>
                    {{ displayModal.postedAgo }}
                </div>
                <img class="modal-chat-dp" [src]="displayModal.url">
            </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="fulfilledModal" tabindex="-1" role="dialog" aria-labelledby="cardDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 45%;">
      <div class="modal-content" [ngClass]="isModalCasual == true ? 'modal-card' : 'modal-card-professional'">
        <div class="modal-header">
          <div class="modal-title row" id="cardModalCenteredLabel">
              <span class="modal-title-text">{{ displayModal.title }}</span>
              <div class="modal-date-font">
                <br>
                ───
                {{ displayModal.deadline }}
              </div>
            <div class="time-remaining-badge" style="margin: 2% 0 0 2%;">
                Completed
            </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" [ngClass]="isRequesting == 'request' ? 'modal-body-height-req' : 'modal-body-height'">
            <div class="modal-body-text">{{ displayModal.body }}</div>
            <div class="card-details-text" style="margin-top: 50px;">
                <i class="material-icons" style="margin-right: 10px;">location_on</i>
                <div>
                    {{ displayModal.location }}
                </div>
            </div>
            <div class="card-details-text">
                <i class="material-icons" style="margin-right: 10px;">wb_twighlight</i>
                <div>
                    {{ displayModal.isUrgent }}
                </div>
            </div>
        </div>
        <div class="modal-footer row align-self-end">
            <div class="row" (click)="onRouteMsg()">
                <div class="modal-posted-by">
                    {{ displayModal.poster }}
                    <br>
                    {{ displayModal.postedAgo }}
                </div>
                <img class="modal-chat-dp" [src]="displayModal.url">
            </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="addFavourModal" tabindex="-1" role="dialog" aria-labelledby="addFavourModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 45%;">
      <div class="modal-content" [ngClass]="isNewFavourCasual? 'modal-card' : 'modal-card-professional'">
        <div class="modal-header">
          <div class="modal-title row" id="cardModalCenteredLabel">
              <span class="modal-title-text">Create New Favour</span>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body add-favour-modal-body-height">
            <form [formGroup]="newFavourForm" (ngSubmit)="onSubmit()">
                <div class="col-12 form-group">
                    <label for="title">Title *</label>
                    <textarea 
                        type="text"
                        id="title"
                        formControlName="title"
                        class="form-control add-favour-form-input-box"
                        placeholder="Title of favour"
                        autocomplete="off"
                        rows="2"
                        maxlength="200"></textarea>
                    <span *ngIf="!newFavourForm.get('title')?.valid && newFavourForm.get('title')?.touched" class="help-block">
                        <span class="modal-required-text" *ngIf="newFavourForm.get('title')?.errors?.required">This field is required!</span>
                        <span class="modal-required-text" *ngIf="newFavourForm.get('title')?.errors?.minlength">Title should be longer than 8 characters!</span>
                    </span>
                </div>
                <div class="col-12 form-group">
                    <label for="body">Description *</label>
                    <textarea
                        type="body"
                        id="body"
                        formControlName="body"
                        class="form-control add-favour-form-input-box"
                        placeholder="Description of favour"
                        autocomplete="off"
                        rows="3"
                        maxlength="800"></textarea>
                    <span *ngIf="!newFavourForm.get('body')?.valid && newFavourForm.get('body')?.touched" class="help-block">
                        <span class="modal-required-text" *ngIf="newFavourForm.get('body')?.errors?.required">This field is required!</span>
                    </span>
                </div>
                <div class="row form-group">
                    <div class="col-6 add-favour-type">
                        <label for="btn-type">Favour Type</label>
                        <div id="btn-type" class="row justify-content-center">
                            <div class="col-5 add-favour-type-btn" [ngClass]="isNewFavourCasual? 'type-selected' : 'casual'" (click)="onCasualClick()">
                                Casual
                            </div>
                            <div class="col-5 add-favour-type-btn" [ngClass]="isNewFavourCasual? 'pro' : 'type-selected'" (click)="onProClick()">
                                Professional
                            </div>
                        </div>
                    </div>
                    <div class="col-6 add-favour-type">
                        <label for="btn-urgent">Urgent?</label>
                        <div id="btn-urgent" class="row justify-content-center">
                            <div class="col-5 add-favour-type-btn" [ngClass]="isNewFavourUrgent? 'type-selected' : 'urgency'" (click)="onUrgentClick()">
                                Urgent
                            </div>
                            <div class="col-5 add-favour-type-btn" [ngClass]="isNewFavourUrgent? 'urgency' : 'type-selected'" (click)="onNotUrgentClick()">
                                Not Urgent
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 form-group">
                    <div class="row">
                        <label class="col-6" for="body">Deadline *</label>
                        <label class="col-6" style="padding-left: 32px;" for="body">Time *</label>
                    </div>
                    <div class="row">
                        <mat-form-field color="accent" appearance="fill" class="col-4">
                            <mat-label>&nbsp; Deadline</mat-label>
                            <input matInput [matDatepicker]="picker" [min]='minDate' [max]='maxDate' (dateChange)="onDateChange($event)" disabled>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <div class="col-2"></div>
                        <div style="width: 220px;">
                            <input
                                type="time"
                                id="input"
                                class="time"
                                value="13:00"
                                (keyup)="onKeyTime($event)"
                            />
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-6 add-favour-type">
                        <label for="location">Location *</label>
                        <textarea 
                        type="text"
                        id="location"
                        formControlName="location"
                        class="form-control add-favour-form-input-box"
                        placeholder="Location"
                        autocomplete="off"
                        rows="1"
                        maxlength="22"></textarea>
                        <span *ngIf="!newFavourForm.get('location')?.valid && newFavourForm.get('location')?.touched" class="help-block">
                            <span class="modal-required-text" *ngIf="newFavourForm.get('location')?.errors?.required">This field is required!</span>
                        </span>
                    </div>
                    <div class="col-6">
                        <div class="add-favour-type-btn create-favour-btn" type="submit" (click)="onSubmit()">
                            Create
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>